/* public/style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #36393F;
    overflow-y: hidden;
}

#chat-container {
    width: 85%;
    height: 85%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}

ul#messages {
    list-style-type: none;
    padding: 0px;
    height: 85%;
    overflow-y: auto;
    margin-bottom: 20px;
    background: white;
    border-radius: 8px;
    
}

li {
    padding: 5px 0;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    
}

button {
    padding: 10px 20px;
    border: none;
    background-color: lightslategray;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button img{
  width: 30px;
  height: 30px;
  
}


.enviar{
  padding-left: 25px;
  
}



.botoes {
  background: #36393F;
  width: 90.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 8px;
}



button:hover {
    background-color: #218838;
}

/* Animação de d*/
input[type="text"]:focus {
    outline: none;
    border-color: #28a745;
}

#typing-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  animation: bounce 1.2s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}